<% if (flash[:notice]) %>
    <div class="alert alert-info">
      <strong>Info!</strong> <%= flash[:notice] %>
    </div>
<% elsif (flash[:error]) %>
    <div class="alert alert-danger">
      <strong>Info!</strong> <%= flash[:error] %>
    </div>
<% end %>